
@media screen and (max-width:1240px) {

    .wrap header .header_first_top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 1240px;
    }
 }



@media screen and (max-width:972px){
    .wrap {
        /* min-width: 940px; */
    }
    .wrap header {
        border-bottom: 0px;
    }
    .wrap header nav {
        display: none;
    }
    .wrap header nav .gnb {
        display: none;
    }
    .wrap header.sticky {
        width: 100%;
        left: auto;
    }
    .wrap header .header_first_top .first_top_right {
        display: none;
    }
    
    .wrap header .header_first_top {
        border-bottom: 1px solid #000;
    }


}