
@media screen and (max-width:1240px) {

    .wrap header .header_first_top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 1240px;
    }
 }



@media screen and (max-width:972px){
    .wrap {
        /* min-width: 940px; */
    }
    .wrap header {
        border-bottom: 0px;
    }
    .wrap header nav {
        display: none;
    }
    .wrap header nav .gnb {
        display: none;
    }
    .wrap header.sticky {
        width: 100%;
        left: auto;
    }
    .wrap header .header_first_top .first_top_right {
        display: none;
    }
    
    .wrap header .header_first_top {
        border-bottom: 1px solid #000;
        width: 100%;
    }


}


@media screen and (max-width:687px) {
    .wrap main .reservation_container .go_container .left h1 {
        font-size: 30px;
    }
    .wrap main .reservation_container .go_container .left p {
        font-size: 14px;
    }
    .wrap main .reservation_container .go_container .right {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .wrap main .reservation_container .go_container .right a:nth-child(1){
        width: 100%;
    }
    .wrap main .reservation_container .go_container .right a:nth-child(2) {
        margin: 0px;
    }
}