@media screen and (max-width:972px) {

    .wrap footer .footer_wrap .footer_content .right_content .right_menus {
        align-items: center;
    }
}

/* mob_menu 탭 */
@media screen and (max-width:940px) {
    .mob_wrap {
        display: block;
    }
    .respon_menu_wrap {
        display: block;
    }
    .respon_menu_wrap main {
        display: block;
    }
    footer .respon_below_menu{
        display: flex;
    }
}