.wrap .education_intro_wrap {}
.wrap .education_intro_wrap main {}
.wrap .education_intro_wrap main .education_intro_title {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
.wrap .education_intro_wrap main .education_intro_title h1 {
    font-size: 40px; margin-top: 30px; margin-bottom: 20px;
}
.wrap .education_intro_wrap main .education_intro_title p {
    font-size: 15px; margin-bottom: 30px;
}

.wrap .education_intro_wrap main .program_title {margin-bottom: 40px;}
.wrap .education_intro_wrap main .program_title h1 {
    font-size: 28px; margin-top: 40px; margin-bottom: 20px;
}
.wrap .education_intro_wrap main .program_title p {
    font-size: 15px;
}
/* 아이템 메인 */
.wrap .education_intro_wrap main .education_Programs {
    
}
.wrap .education_intro_wrap main .education_Programs ul {

}
.wrap .education_intro_wrap main .education_Programs ul li {}
.wrap .education_intro_wrap main .education_Programs ul li .program_container {
    display: flex;
}

.wrap .education_intro_wrap main .education_Programs ul .top_program {
    display: flex; flex-flow: row nowrap; 
    margin-bottom: 60px;
} 
.wrap .education_intro_wrap main .education_Programs ul .top_program li {} 
/* div를 2개 씩 나눠서 밑으로 내리는건 성공 0130 */
.wrap .education_intro_wrap main .education_Programs ul .middle_program {
    display: flex; flex-flow: row nowrap; 
    margin-bottom: 60px;
} 




.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_img {
    margin-right: 30px;
}
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_img img {}
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info  {
    width: 440px;
    /* 0311 */
}
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info .program_content {

}

.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info{}  

.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info .program_content .program_item {
    margin-bottom: 100px; 
}

/* 청소년 어른 어린이 등등  */
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info .program_content .program_item p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info .program_content .program_item span {
    font-size: 15px;
    font-weight: bold;
}
/* 버튼 */
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info .program_content .education_btn {
}
/* 버튼 a  */
.wrap .education_intro_wrap main .education_Programs ul li .program_container .program_info .program_content .education_btn .btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    font-weight: bold;
    padding: 12px 20px 12px 20px;
    font-size: 15px;
    letter-spacing: -0.5px;
    display: inline-block;
    
}