/* 메인페이지 index.html */
/* popup부분 */
.popup {display:none} /* 팝업 가려둠 12/29 */
.popup h1 {}
/* popup 내용 시작. */
.popup .popup_contents {}
.popup .popup_contents h2 {}
.popup .popup_contents p {}
.popup .link {}
.popup .popup_btm {}
.popup .popup_btm label {}
.popup .popup_btm label #left_popup {}
.popup .popup_btm label span {}
.popup .popup_btm .close_button {}
/* popup 끝 */
/* 팝업은 head와 body사이에 위치. */

/* 무지개 스마트서치 시작. */
.smart_search {display: none;}
.smart_search a {}
.smart_search a img {}
/* 무지개 스마트서치 끝. */
/* 메인페이지 header 시작. */
/* header, nav 등등 해드부분 끝   */
/* common.css로 이동시킴  공통부분  */
/* -----------------------header 끝 main 시작 ------------------------- */
/* main1. 국립현대미술관 관람 예약(reservation) 바로가기 부분 */
.wrap main {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.wrap main .reservation_container {

    background-color:#fff
}
.wrap main .reservation_container .go_container {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 20px;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    
}
.wrap main .reservation_container .go_container .left {}
.wrap main .reservation_container .go_container .left h1 {
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 25px;
    font-weight: bold;
    margin: -2px 0px 0px;
    letter-spacing: -1.8px;
}
.wrap main .reservation_container .go_container .left p {
    font-size: 15px;
    font-weight: bold;
}
/* left 끝 right 시작 */
.wrap main .reservation_container .go_container .right {
    padding-top: 25px;
}
.wrap main .reservation_container .go_container .right a {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
} /* 관람 예약 및 자주 묻는 질문 바로가기 버튼 */
.wrap main .reservation_container .go_container .right a:nth-child(1) {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    padding: 13px 2.8px 13px 2.8px;
    margin: 10px;
    letter-spacing: -1.5px;
    margin-right: 1px;
}
.wrap main .reservation_container .go_container .right a:nth-child(2) {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 13px 20px 13px 20px;
    font-weight: bold;
    letter-spacing: -1px;
}

.wrap main .reservation_container .go_container .right .close_button {
    text-align: end;
} /* 닫기 */
/* ------------------ main1. 국립현대미술관 관람 예약(reservation) 끝------------------------------------ */
/* [과천] 한국의 기하학적 추상미술 시작. */
.wrap main .display_top_wrap {
    background-color: #fff;
    border-bottom:1px solid #000 ;
}
.wrap main .display_top_wrap .display_top_container {}
.wrap main .display_top_wrap .display_top_container .images {
} /* [과천] 한국의 기하학적 추상미술 이미지 묶은 div */
.wrap main .display_top_wrap .display_top_container .images img {
    width: 100%; /* 0109 여기 이미지도 ? 1600px */
    object-fit: cover;
    
}
/* [과천] 이미지 아래 글 버튼 시작. */
.wrap main .display_top_wrap .display_top_container .display_container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.wrap main .display_top_wrap .display_top_container .display_container .left {}
.wrap main .display_top_wrap .display_top_container .display_container .left h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.wrap main .display_top_wrap .display_top_container .display_container .left p {
    font-size: 15px;
    margin-bottom: 70px;
}
/* right 부분 시작  */
.wrap main .display_top_wrap .display_top_container .display_container .right {
    justify-content: space-between;
    margin-top: 10px;
}
.wrap main .display_top_wrap .display_top_container .display_container .right .reservation_btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;

} /* 전시 예약 바로가기 */
/* [과천] 한국의 기하학적 추상미술 끝. */
/* --------------------------------------------------------------------------------------------------- */
/* 미술관 부분 시작.! */
/* 100 / 4 해서 전체 공간 나누기 01/04 */
.wrap main .place_museum_wrap {
    border-bottom: 1px solid #000;
    margin-top: 30px; 
}
.wrap main .place_museum_wrap h2 {
    font-weight: bold;
    font-size: 26px;
    margin-top: 20px; 
    margin-bottom: 30px;
} /* 미술관 */
.wrap main .place_museum_wrap .museum_contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
} /* 이미지  */
.wrap main .place_museum_wrap .museum_contents .museum_img {
    width: calc(100% / 4 - 30px / 4);
}
.wrap main .place_museum_wrap .museum_contents .museum_img a {}
.wrap main .place_museum_wrap .museum_contents .museum_img a img {
    /* margin-top:30px; */
    width: 100%
}
.wrap main .place_museum_wrap .museum_contents .museum_img h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
} /* 서울, 과천 등등  */
.wrap main .place_museum_wrap .museum_contents .museum_img p {
    margin-top: 30px;
} /* 내용 월요일 ~ 야간개장  */
/* 이미지 밑에 a 들 전시 ~ 이벤트 등등  */
.wrap main .place_museum_wrap .museum_contents .museum_img .museum_button {
    margin-top: 10px;
    
} /* a 묶는 div */
.wrap main .place_museum_wrap .museum_contents .museum_img .museum_button a {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 3px 8px 3px 8px;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 80px;
} /* a들 전시, 필름앤비디오 등등 */
/* -------------------------------------미술관 부분 끝-------------------------------------------------- */
/* 멤버십 이미지 (전 레인보우 이미지 시작) */
.wrap main .member_bnr {
    border-bottom:1px solid #000 ;
}
.wrap main .member_bnr img {
    width: 100%; 
    margin: 20px 0;
} 
/* 멤버십 이미지 (전 레인보우 이미지 끝) */
/* -------------------------------------멤버십 이미지 (전 레인보우 이미지) 부분 끝-------------------------------------------------- */
/* <전시> 시작!  */
.wrap main .display_full_container {
    border-bottom:1px solid #000;
} /* 전시 전체를 묶는 최상위 컨테이너 */

.wrap main .display_full_container .display_bnr {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    padding: 40px 0 40px 0;
} /* 전시 탭 해더  전체 서울 등등  */ 

.wrap main .display_full_container .display_bnr h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}   
.wrap main .display_full_container .display_bnr .display_bnr_list {} /* 목록 리스트 */   
.wrap main .display_full_container .display_bnr .display_bnr_list ul {
    display: flex;
    flex-flow: row nowrap;

}    
.wrap main .display_full_container .display_bnr .display_bnr_list ul li {
    margin-right: 20px;
}    
.wrap main .display_full_container .display_bnr .display_bnr_list ul li a {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid #000;
} /* 전체 ~ 서울 ~ 과천 ~ */

/* 전시 모두보기  */
.wrap main .display_full_container .display_bnr .view_all {
    font-size: 15px;
    /* 아이콘 넣기 */
}
.wrap main .display_full_container .display_bnr .view_all img {
    margin-left: 7px;
}
/* 빨강색030712 */
.wrap main .display_full_container .new_display_wrap {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
} 
/* swiper-container */
.wrap main .display_full_container .new_display_wrap .display_btm_container{
    
}
/* swiper-wrapper */
.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 80px;
}
/* swiper-slide */
.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display{
    transition: transform 0.3s ease;
}
.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display .photo{

}
/* 전시캡 스와이프 이미지 공통 선택자 */
.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display .photo .display_img{
    border-bottom: 1px solid #000;
}
.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display .photo > img {
    width: 400px; 
} /* P CLASS */

/* ex) 서울 미술관을 말할 때 우리가 이야기하는 것들 */
.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display .category{
    font-size: 15px;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 70%; line-height: 1.3;
} /* 미술관을 말할 때 우리가 ~  */ 

.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display .date {
    font-size: 15px;
    color:#949494;
} /* 2023-12-22~2024-04-06 */

.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display img {
    width: 25px; 
} /* 해드폰 아이콘 이미지 */

.wrap main .display_full_container .new_display_wrap .display_btm_container .display_image .display img a {}

/* 이전으로 & 다음으로  new_preve_next_wrap*/
.wrap main .display_full_container .new_display_wrap .new_preve_next_wrap {}

.wrap main .display_full_container .new_display_wrap .prev i[class^=fa] {
    font-size: 45px; 
    position: absolute; left: 0px; top: -20px;
    color: #000;
}
.wrap main .display_full_container .new_display_wrap .next i[class^=fa]{
    font-size: 45px;
    position: absolute; right: 0px; top: -20px;
    color: #000;
}
.wrap main .display_full_container .display_btm_container .next img {}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}

/* 이전으로 & 다음으로 방향 끝  */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* 소장품 시작 */
.wrap main .collection_full_container {  
    border-bottom: 1px solid #000;
    padding-bottom: 100px;
    overflow: hidden;
}
.wrap main .collection_full_container .collection_container {
    position: relative; /* 이전 다음으로 버튼. */
   /*  width: 100%; */
   /* padding: 0px 80px 0px 80px; */
}
.wrap main .collection_full_container .collection_container .collection_head { 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
} /* 소장품 해드 */
.wrap main .collection_full_container .collection_container .collection_head h2 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    margin-top:40px; /* 디지털 미술관 위 아래 간격 */
    margin-bottom: 20px;
} /* 소장품 해드 */

.wrap main .collection_full_container .collection_container .collection_head .view_all {
    font-size: 15px;
    margin-top: 40px;
} /* 소장품 모두보기 */
.wrap main .collection_full_container .collection_container .collection_head .view_all img {
    margin-left: 7px;
}  /* 소장품 모두보기 > */


/*  소장품 공통 img 0108 */
.wrap main .collection_full_container .collection_container .collection_images {
   /*  display: flex; */
   
}

.wrap main .collection_full_container .collection_container .collection_images .collection_img { /* ul */
    width: calc((100% / 4) - 30px);
/*     background: violet; */
    margin-right: 0px;
}
/* 소장품0117 */

.wrap main .collection_full_container .collection_container .collection_images .collection_img > li a img {
    /* width:100%; */
    width: 400px;
/*     justify-content: space-between; */
    margin-bottom: 20px;
    
    

} /* 이미지 태그 추가 0116 */

.wrap main .collection_full_container .collection_container .collection_images .collection_img > li h2 a {
    font-size: 28px;
    width: 400px;
} 
.wrap main .collection_full_container .collection_container .collection_images .collection_img li p > a {
    font-size: 15px;
    color: #949494;
    width: 400px;
}
/* 소장품 해드 끝  */
.wrap main .collection_full_container .collection_container .collection_images {} /* 소장품 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 {
   /*  width: 400px; */
} /* img 각각 이미지 크기가 다름. */
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li {}
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li a {} 
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li a img {} /* 이미지 */ 
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li h2 {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li h2 a {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li p {} /* 1910년대-1920년대 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img1 li p a {} /* 1910년대-1920년대 */
/* 이미지 1 끝 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 {
    /* width: 400px; */
} /* img 각각 이미지 크기가 다름. */
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li {}
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li a {} 
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li a img {} /* 이미지 */ 
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li h2 {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li h2 a {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li p {} /* 1910년대-1920년대 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img2 li p a {} /* 1910년대-1920년대 */
/* 이미지 2 끝 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 {} /* img 각각 이미지 크기가 다름. */
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li {}
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li a {} 
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li a img {} /* 이미지 */ 
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li h2 {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li h2 a {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li p {} /* 1910년대-1920년대 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img3 li p a {} /* 1910년대-1920년대 */
/* 이미지 3 끝 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 {
   /*  width: 400px; */
} /* img 각각 이미지 크기가 다름. */
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li {}
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li a {} 
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li a img {} /* 이미지 */ 
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li h2 {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li h2 a {} /* 국립현대미술관 소장품300 */  
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li p {} /* 1910년대-1920년대 */
.wrap main .collection_full_container .collection_container .collection_images .collection_img4 li p a {} /* 1910년대-1920년대 */
/* 이미지 4 끝 */
/* 이전으로 & 다음으로 */
.wrap main .collection_full_container .collection_container .prev  i[class^=fa] {
    font-size: 45px; 
    position: absolute; left: 0px; top: 70px;
    color: #000;

}
.wrap main .collection_full_container .collection_container .prev img {}
.wrap main .collection_full_container .collection_container .next i[class^=fa] {
    font-size: 45px;
    position: absolute; right: 0px; top: 70px;
    color: #000;

}
.wrap main .collection_full_container .collection_container .next img {}

/* 이전으로 & 다음으로 끝 */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* 디지털 미술관 시작. */
.wrap main .digital_wrap {
   /*  background-color:skyblue; */

} /* 디지털 미술관 최상위 컨테이너 */
.wrap main .digital_wrap .digital_container {
    
}
.wrap main .digital_wrap .digital_container .digital_head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top:40px; /* 디지털 미술관 위 아래 간격 */
    margin-bottom: 20px;
} /* 디지털 미술관 해드 */
.wrap main .digital_wrap .digital_container .digital_head h1 {
    font-size: 28px;

} /* 디지털 미술관. */
.wrap main .digital_wrap .digital_container .digital_head .view_all {} /* 모두보기  */
.wrap main .digital_wrap .digital_container .digital_head .view_all img {}
/* 해드 끝  */
.wrap main .digital_wrap .digital_container .digital_videos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.wrap main .digital_wrap .digital_container .digital_videos a {
    width: calc(100% / 3 - 50px / 3);
    margin-bottom: 100px;
} /* 비디오 묶음 */
.wrap main .digital_wrap .digital_container .digital_videos a .photo {
    
} /* p 클래스  */
.wrap main .digital_wrap .digital_container .digital_videos a .photo img {
    /* width: 400px; */ width: 100%;
    
} 
.wrap main .digital_wrap .digital_container .digital_videos a .sub_title {
    
} /* p 클래스 MMCA TV */
.wrap main .digital_wrap .digital_container .digital_videos a h2 {
    font-size: 28px;
} /* 라이브 x 장기하 등등 */
/* -------------------------------------------------------------------------------------------- */
/* 디지털 미술관 끝  */
/* MMCA 뉴스레터 시작. */
.wrap main .news_wrap {} /* MMCA 뉴스레터 · 최상위 컨테이너 */
.wrap main .news_wrap .news_container {
    position: relative;
    overflow: hidden;
}
.wrap main .news_wrap .news_container .news_head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 30px;
} /* 해드 배너 */
.wrap main .news_wrap .news_container .news_head h1 {
    font-size: 28px;
} /* 해드 배너 */
.wrap main .news_wrap .news_container .news_head .view_all {} /* 모두보기 */
.wrap main .news_wrap .news_container .news_head .img {
    
}
/* 뉴스 해드 끝 */
.wrap main .news_wrap .news_container .news_images {
   /*  background: seagreen; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    
} /* 뉴스 이미지들  */
.wrap main .news_wrap .news_container .news_images .news_img {
    width: calc(100% / 4 - 30px / 4);

}
.wrap main .news_wrap .news_container .news_images .news_img li {
}
.wrap main .news_wrap .news_container .news_images .news_img li a {
}
.wrap main .news_wrap .news_container .news_images .news_img li a img {
 /*    width: 100%; */
    width: 400px;
    padding: 5px;
    margin-bottom: 15px;

}
.wrap main .news_wrap .news_container .news_images .news_img li:nth-child(3) > p > a {
    color: #949494;
    margin-bottom: 30px;
} /* 0117 글자 회색 나누기 성공 */
.wrap main .news_wrap .news_container .news_images .news_img li:nth-child(2) > p > a {}
.wrap main .news_wrap .news_container .news_images .news_img li p a {
}

.wrap main .news_wrap .news_container .prev i[class^=fa]{
    font-size: 45px; 
    position: absolute; left: 0px; top: 50px;
    color: #000;
}

.wrap main .news_wrap .news_container .next i[class^=fa]{
    font-size: 45px; 
    position: absolute; right: 0px; top: 50px;
    color: #000;
}
/* img1 ~ 4로 있었다면 4개 더 늘어야했지만 홈페이지 확인 결과 동일 사이즈 확인. */
/* MMCA 뉴스레터 끝------------------------------------------------------------------------------- */
/* MMCA 뉴스레터 하단 시작 0116 추가*/
.wrap main .find_wrap {
    /* border: 1px solid #000; */
    padding-top: 30px;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
    border-top: 1px solid #000;
} /* 최상위 wrap */
.wrap main .find_wrap .find_images {
    display: flex;
    justify-content: space-between;
} /* 상위 wrap */
.wrap main .find_wrap .find_images .news_btm {
    width: calc((100% / 4)- 20px);
} 
.wrap main .find_wrap .find_images .news_btm a {
    
} 
.wrap main .find_wrap .find_images .news_btm a img {
    width: 100%; padding: 10px;
} /* ex 미술은행 이미지 */ 
.wrap main .find_wrap .find_images .news_btm .btm {
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    margin-top: 20px;
    
}
.wrap main .find_wrap .find_images .news_btm .btm h3 {
    display: inline-block;
    font-size: 24px;
    margin-left: 7px;
} /* 미술은행 */
.wrap main .find_wrap .find_images .news_btm .btm .more {
    text-align: end;
    margin-bottom: 20px;
    padding-bottom: 60px;
    margin-right: 6px;
    border-bottom: 1px solid #000;
} /* 더 알아보기 */
/* MMCA 뉴스레터 하단 아이템들 전부 똑같기에 끝. */
.wrap main .news_wrap {border-top: 1px solid #000;
} 
.wrap main .news_wrap .news_head {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 25px; margin-top: 30px;
}
.wrap main .news_wrap .news_head h1 {
    font-size: 24px;
}
.wrap main .news_wrap .news_head .news_content {
    margin-right: 375px;
} /* ul class  */
.wrap main .news_wrap .news_head .news_content li {
    margin-bottom: 10px;
} /* 내용 */
.wrap main .news_wrap .news_head .news_content li a {
    font-size: 28px;
}
.wrap main .news_wrap .news_head .view_all {} /* 새소식 모두보기 */
/* -----------------------------------------main 끝--------------------------------------------------- */
/* footer 시작. */ /* common.css로 이동 */
/*  */