.wrap {
   /*  background:#f9f9f9;  */
    /* 전체 뒷 배경 */
}
.wrap .login_title_wrap  {
}
.wrap .login_title_wrap main {
    
}
.wrap .login_title_wrap .login_title_container{}
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_container_center {
    max-width: 460px;
    margin: 0 auto;
/*     background: seagreen; */
    margin-top: 40px; /* 로그인 컨테이너 간격수정 */
}

.wrap .login_title_wrap .login_title_container .login_title{}

.wrap .login_title_wrap .login_title_container  .login_title .login_title_left > h1{
    font-size: 28px;
    border-bottom:1px solid #000 ;
    padding-top: 50px; padding-bottom: 50px;
    font-weight: bold;
} /* h1 로그인 */

.wrap .login_title_wrap .login_title_container .login_title .login_title_right {}
/* 로그인 밑 긴 글 */

/* 이 밑부터 center_login_wrap 추가 */

.wrap .login_title_wrap .login_title_container .center_login_wrap .login_span {
    text-align: center;
    margin-top: 40px; /* 로그인 스팬 간격수정 */
}
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_span h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_span span {
    font-size: 15px;
} /* span 전체 */
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_span .span_red {
    color:#ff0000 ; 
    font-weight: bold;
} /* span 1 붉은색*/
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_span .span_blue {
    color:#0000ff ; 
    font-weight: bold;
} /* span 2 파란색*/
/* ----------------------------------------------------------------------------------------------------- */
/* 로그인  */
/* 로그인 해더 부분 --------------------------------------------------------------------------------------- */
.wrap .login_title_wrap .login_title_container .center_login_wrap {
    background-color: rgba(249, 249, 249, 1);
    padding: 20px 0px 20px 0px;
    min-height: 460px;

}

.wrap .login_title_wrap .login_title_container .center_login_wrap  #loginFrmlogin_span {
    margin-top: 30px;
/*     background:#f9f9f9; */
    position: relative; top: -10.5px;
    border-bottom: 16px; 

} /* 로그인 form */
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset {

} 
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .login_input {
    display: flex; flex-flow: column nowrap; 
    text-align: center;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    color: #000;

} /* 아이디 비밀번호 input창 */ 





/* 아이디 */
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .login_input #user_id {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 10px 10px 18px;
    border-radius: 0; 
}

#user_id::placeholder {
    color: #979ba1;
    font-weight:500;
    font-size: 15px;
}

/* 부트스트랩 인풋 테두리 변경 */

.form-control:focus {
    /* border-color: #000; */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 1);  *

/* http://www.codicut.com/util/cssColor.html  reba로 변환기*/
/* https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow 
참고 글 
*/

    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 1);

/*     border-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1); */

 /*    border-color: #000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 1);
 */

  }

/* 


*/



/* 비밀번호 */
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .login_input #user_pw {
    width: 100%;
    background: #fff;
    padding: 10px 10px 10px 18px;
    border-radius: 0; 
}
#user_pw::placeholder {
    color: #979ba1;
    font-weight:500;
    font-size: 15px;
}

/* 체크박스  */
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .id_email_save {
    margin-bottom: 20px;
}

/* 체크박스 */
.wrap .login_title_wrap .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .id_email_save #id_email_y  { 

}

.wrap .login_title_wrap .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .id_email_save label .login_state_y {
    color:#979ba1 ;
    font-size: 15px;

}
/* 로그인 버튼 */
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .login_btn_container {
    margin-top: 10px;
    
}
/* 로그인 버튼 */
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .login_btn_container #login_btn {
    display: inline-block;
    padding: 15px;
    line-height: inherit;
    height: auto;
    min-width: 180px;
    width: 100%;
    border-radius: 30rem;
    background: #000;
    color: #fff;
    transition: background-color 0.3s; /* 클릭 효과에 transition 효과 추가 */
    
}
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .login_btn_container #login_btn:active {
    background-color: #979ba1; /* 클릭한 상태일 때 적용될 배경색 */
}

.wrap .login_title_wrap .login_title_container .center_login_wrap #loginFrm fieldset .login_input span:first-child{}
.wrap .login_title_wrap .login_title_container .center_login_wrap #loginFrm fieldset .login_input span:last-child{}

 /* 아이디 & 비밀번호 찾기 */
.wrap .login_title_wrap .login_title_container  .center_login_wrap .search_join {
    text-align: center;
    margin-bottom: 60px;
}
.wrap .login_title_wrap .login_title_container .center_login_wrap .search_join a {
    text-align: center; margin-right: 20px;
}

/* 부트스트랩 호버  */

.wrap .login_title_wrap .login_title_container .center_login_wrap .search_join a:hover {
    font-weight: bold;
    color: #000;
}


/* 로그인 경고 메세지  */
.wrap .login_title_wrap  .login_title_container .center_login_wrap .login_container_center #loginFrmlogin_span fieldset .error_message_num {
    font-size: 0.91rem;
    color: #f00; padding: 10px 0px;
} 