.respon_menu_wrap {
    background: #fff;
    /*     width: 940px; */
}

.respon_menu_wrap header {
    padding: 0px 15px 0px 15px;
}

.respon_menu_wrap header .index_mob_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.respon_menu_wrap header .index_mob_title .mob_title_left {}

.respon_menu_wrap header .index_mob_title .mob_title_left h1 {}

.respon_menu_wrap header .index_mob_title .mob_title_left h1 a {}

/* logo */
.respon_menu_wrap header .index_mob_title .mob_title_left h1 a img {
    width: 180px;
    /* height: 61px; */
}

/* 오른쪽 */
.respon_menu_wrap header .index_mob_title .index_mob_right {
    margin-top: 8px;
}

.respon_menu_wrap header .index_mob_title .index_mob_right .header_total_search {
    margin-right: 5px;
}

.respon_menu_wrap header .index_mob_title .index_mob_right .close_button {}

.respon_menu_wrap header .index_mob_title .index_mob_right .close_button img {
    margin-bottom: 2px;
}

/* 메인 */

.respon_menu_wrap main {
    padding: 10px 15px 15px 15px;
    border-bottom: 1px solid #000;
}

.respon_menu_wrap main nav {}

.respon_menu_wrap main nav .respon_gnb {}

.respon_menu_wrap main nav .respon_gnb li {
    padding: 10px 2px 5px 0
}

.respon_menu_wrap main nav .respon_gnb li .respon_gnb_tab {
    display: flex;
    justify-content: space-between;
}

.respon_menu_wrap main nav .respon_gnb li .respon_gnb_tab .respon_tab {
    font-weight: bold;
    font-size: 24px;
}

.respon_menu_wrap main nav .respon_gnb li .mob_plus_a .mob_plus_img {
    width: 16px;
    height: 16px;
}

.respon_menu_wrap main nav .respon_gnb li .respon_lnb {}

.respon_menu_wrap main nav .respon_gnb li .respon_lnb ul {}

.respon_menu_wrap main nav .respon_gnb li .respon_lnb ul li {
    display: none;
}

/* 하위 탭 */
.respon_menu_wrap main nav .respon_gnb li .respon_lnb ul li a {
    font-size: 20px;
    /* display: none; */
}

/* 메인 중간 뉴스레터 ~  */
/*    padding: 0px 15px 0px 15px; */
.respon_sub_menu {
    padding: 17px 15px 10px 17px;
    border-bottom: 1px solid #000;
}

.respon_sub_menu ul {}

.respon_sub_menu ul li {
    padding: 10px 2px 5px 0;
}

.respon_sub_menu ul li a {
    font-size: 19px;
    padding: 10px 0px 0px 0px;
    font-weight: 550;
}

/* footer */

footer .respon_below_menu {
    padding: 20px 15px 10px 15px;
    display: flex;
    flex-direction: column;
}

footer .respon_below_menu .mmca_respon_join {
    font-size: 19px;
    font-weight: bold;
}

footer .respon_below_menu .mmca_respon_login {
    font-size: 19px;
    padding-top: 10px;
}

footer .respon_below_menu #below_lang_option {
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
}